.container{
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    outline: solid red;
}
.header__title, .footer__title{
    font-family: "Raleway";  
}

*{
    font-family: "Roboto";
    font-size: 14px;
}
h1{
    /* color: #FFFFFF; */
}
.our-team__name, .header__item-link, .header__link, .footer__link{
    font-weight: medium;
}
.our-team__name{
    font-size: 16px;
}
.header__link{
    color: #757575;
}
.hero__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 200px;
    padding-bottom: 200px;
    gap: 29px;
}
.about-us__container{
    display: flex;
    flex-direction: row;
}