.container{
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    outline: solid red;
}
.header__title, .footer__title{
    font-family: "Raleway";  
}
.our-team__title{
    font-size: 36px;
    font-weight: bold;
}
*{
    font-family: "Roboto";
    font-size: 14px;
}
h1{
    /* color: #FFFFFF; */
}
.our-team__name, .header__item-link, .header__link, .footer__link{
    font-weight: medium;
}
.our-team__name{
    font-size: 16px;
}
.header__link, .info__text{
    color: #757575;
}

.about-us__list{
    display: flex;
}
.our-team__list{
    display: flex;
    justify-content: space-around;
}
.our-team__item{
    height: 368px;
    width: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    background-color: #FFFFFF;
}
.our-team__image{
    height: 260px;
    width: 270px;
    justify-content: start;
    margin-bottom: 30px;
}
.our-team__container{
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-top: 60px;
    padding-bottom: 125px;
}
.our-team__title{
    text-align: center;
}
.our-team{
    background-color: #F5F4FA;
}
.about-us__list{
    display: flex;
    justify-content: space-around;

}
.about-us__image{
    width: 370px;
    height: 295px;
    margin-top: 49px;
}
.about-us__container{
    padding-bottom: 94px;
}
.about-us__title{
    text-align: center;
    font-size: 36px;
    font-weight: bold;
}
.info__list{
    display: flex;
    gap: 30px;
}
.info__container{
    padding: 94px 15px;
}
.hero{
    background-color: #2F303A;
}
.hero__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 200px;
    padding-bottom: 200px;
    gap: 29px;
}
.hero__title{
    font-size: 44px;
    color: #FFFFFF;
    max-width: 609px;
    text-align: center;
}
.hero__btn{
    width: 260px;
    height: 50px;
    color: #FFFFFF;
    background-color: #2196F3;
    
}